.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 150px;

    &-text {


        &-wrapper {
            display: flex;
            align-items: center;
            max-width: 500px;
            height: 100%;
        }

        &__btns a+a { margin-left: 15px; }
    }
}


.feature-box {
    display: flex;

    &__img {
        max-width: 80px;
        width: 100%;
        margin-right: 20px;
    }

    &__content p { margin-bottom: 0; }

    a+a { margin-left: 30px; }
}

.weather-widget {
    padding-top: 25px;

    &__side-img { padding-left: 20px; }

    &__img {
        margin-bottom: 40px;
    }

    &__headline {
        text-transform: uppercase;
        color: $primary;
        margin-bottom: 20px;
    }

    &__circle {
        position: relative;
        max-width: 60px;
        width: 100%;
        min-height: 60px;
        border-radius: 50%;
        box-shadow: 0 15px 30px rgba(0,0,0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        color: $blue-light;
        margin-left: -3px;

        &:first-child { 
            margin-left: 0; 
            z-index: 3;
        }

        &:nth-child(2) { z-index: 2; }

        &:last-child {
            text-transform: capitalize;
            letter-spacing: -1px;
            z-index: 1;
        }
    }
}