// Text Color
.txt--white { color: $white; }
.txt--purple { color: $secondary; }
.txt--blue { color: $blue; }
.txt--grey { color: $grey; }

// Margin

.ml--15 { margin-left: 15px; }

// Section padding
.section--padding {
	padding-top: 90px;
	padding-bottom: 90px;
}