.footer {
    background-color: #353854;
    color: #565b87;

    &__top {
        position: relative;
        min-height: 220px;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 1600px;
            width: 100%;
            height: 1px;
            background-color: #434769;
        }
    }

    &__bottom {
        min-height: 145px;
        padding-top: 50px;
        text-align: right;
    }
}