a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.primary-menu {
	
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a { 
		text-decoration: none;
		padding: 30px;
		transition: all .3s ease-in-out;

		&.active,
		&:hover,
		&:focus { color: $white; }
	}

	.current-menu-item a { color: $white; }

	&--white {
		a { color: #e1e1e1;  }
	}

	&--silver {
		a { color: #b5b5c8;  }
	}
}

.menu-social {

	margin-right: -15px;

	ul { 
		list-style-image: none;
		list-style-type: none;
		list-style: none; 
		text-align: right;
		padding: 0;
		margin: 0;
	}

	li {
		position: relative;
		display: inline-block;
	}

	a {
		display: block;
		line-height: 1;
		padding: 15px;
		transition: all .3s ease-in-out;

		&[href*="facebook.com"]::before { 
			-webkit-mask-image: url("images/facebook-icon.svg");
    		mask-image: url("images/facebook-icon.svg");
		}
		&[href*="instagram.com"]::before { 
			-webkit-mask-image: url("images/instagram-icon.svg");
    		mask-image: url("images/instagram-icon.svg");
		}
		&[href*="twitter.com"]::before { 
			-webkit-mask-image: url("images/twitter-icon.svg");
    		mask-image: url("images/twitter-icon.svg");
		}

		&:link,
		&:visited,
		&:hover,
		&:active {text-decoration: none;}

		&:before {
			content: "";
			display: flex;
			min-width: 25px;
			height: 25px;
			background-repeat: no-repeat;
			background-position: center;
			mask-repeat: no-repeat;
			mask-position: center;
			transition: all .3s ease-in-out;
		}
	}

	&--silver {
		a::before { background-color: #b5b5c8; }

		li:hover > a::before { background-color: $white; } 
	}

	&--white {
		a::before { background-color: $white; } 

		li:hover > a::before { background-color: #e1e1e1; } 
	}

}
